# PROCESAMIENTO Y PRESENTACION DE DATOS CON PYTHON

---



---


## Lic. Felipe Rodriguez Gaxiola

##**Tipo de datos**

In [5]:
#Enteros
Juan = 591  
Pablo= 273

#flotantes (decimales)
Maria= 312.543

#datos string o de cadena caracteres
texto= 'Hola CID '

Cochinito= '1259.34'

##Pistas##
#redifinir variables
#usar funcion type()

In [ ]:
##RESTAR (JUAN LE DEBE $ 35,34 Y LE TIENE QUE PAGAR )

In [ ]:
## SUMAR (Juan y Pablo colocan todos sus ahorros en el cochito )

In [ ]:
#Porcentaje (cuanto tendria el cochito si cada uno de ellos hubiera donado el 47.6% de sus ahorros en el cochito )

In [ ]:
#Cuanto dinero tendria Juan, pablo y Maria  si juntaran sus ahorros dividieran el dinero equitativamente?

##LISTAS Y TUPLAS

In [32]:
calificaciones = [10,9,8,7.5,9]
nombres = ["Ana","Juan","Sofía","Pablo","Tania"]

In [33]:
#Agregar
nombres.append("Ximena")

#Agregar calificacion 7 a Ximena




print(calificaciones,nombres)

[10, 9, 8, 7.5, 9] ['Ana', 'Juan', 'Sofía', 'Pablo', 'Tania', 'Ximena']

In [ ]:
#OBTENER CALIFICACION DE Pablo
indice=nombres.index('Pablo')
#calificacion_juan=calificaciones[indice]
#calificacion_juan

In [24]:
indice=nombres.index('Ximena')
calificacion=calificaciones[indice]
calificacion_juan

10

In [ ]:
#obtener calificacion sofia

In [ ]:
#Acabas de incluirte al grupo , la profe te reprobo , Hackea su lista y ponte la calificacion que te "mereces", (cualquier solucion es valida, ponte creativo)

##**Tuplas**

In [39]:
calificaciones = (5,5,5,5.5,5)
nombres = ["Ana","Juan","Sofía","Pablo","Tania"]

In [42]:
#El profe soy yo y reprobe a todos, intenta salvar a todos

##**Visualisacion de archivos**

# **Cargar librerias**

In [70]:
##Importar datos 
#Dirigete al siguiente link y descarga el repositorio 
#cargue el archivo dengue en google colab
import pandas as pd
data = pd.read_csv("./Dengue.tsv")
data

,IEDB_ID,Epitope_Sequence,Protein_Names,Host,Dengue_type,Assay_Type_Category,Antigenicity
0,1063,AELTGYGTV,C,Human,2,MHC_Binding,3.35
1,195230,DYMPVMKRYSAPSES,C,Human,3,MHC_Binding,3.40
2,195476,IDLDPVVYDAKFEKQ,C,Human,3,MHC_Binding,3.41
3,195499,ILAKAIFKLTYQNKV,C,Human,3,MHC_Binding,3.16
4,195501,ILIRTGLLVISGVFP,C,Human,2,MHC_Binding,3.46
...,...,...,...,...,...,...,...
2149,867025,GVFQENVFHTMWHVT,NS5,Human,4,T_Cell,4.53
2150,540064,VNGVVRLLTKPWDVI,NS5,Human,4,T_Cell,4.55
2151,180806,VSSVNMVSRL,NS5,Human,4,T_Cell,4.71
2152,419048,SPRLCTREEF,NS5,Human,4,T_Cell,5.02
2153,869083,SYAQMWTLMYFHRRD,NS5,Human,4,T_Cell,5.34

##**Tipos de archivos**

In [ ]:
#import datos con definiendo delimitador
import pandas as ps
data = pd.read_csv("./Dengue.csv", delimiter= ':')

da

##TABLAS Y DATAFRAMES

# Analisis data basico

In [ ]:
data

In [ ]:
#Dimensiones 

data.shape

In [ ]:
#Imprime la columna Antigenicit
data['Antigenicity']

In [ ]:
#imprime el tercer numero de la columna antigenicidad
data['Antigenicty'][]

In [ ]:
#imprime el ultimo numero de la columna antigenicidad
data['Antigenicity'][]




#soluciona este error con las funciones anteriormentes presetnadas y mencionalo al grupo 

#iloc[[1]]

In [72]:
#promedio 
data["Antigenicity"].mean()

3.3445821727019496

In [75]:
#maximo 
data["Antigenicity"].max()

6.0

In [ ]:
#minimo
data["Antigenicity"].max()

In [ ]:
data.describe()

##**Ejercicio**

Carga el archivo de antigenicidad.csv, con las funciones anteriormente mencionadas y decifra cual es el top 3 proteinas mas antigenicas y el top 3 menos antigenicas

Mucha suerte :)

In [ ]:

import pandas as pd
data = pd.read_csv("./antigenicidad.tsv")
data

In [93]:
data=data.set_index('Muestra')

In [ ]:
data

In [82]:
data["NS1"].mean()

5.7918939393939395

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns
p1 = sns.heatmap
#colormap = sns.color_palette("red")
sns.heatmap(data,cmap="Reds")